#freedium-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 270px;
  background: white;
  padding: 18px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  font-family: system-ui;
  opacity: 0;
  transform: translateY(15px);
  transition: all 0.3s ease;
  z-index: 999999;
}

#freedium-popup.visible {
  opacity: 1;
  transform: translateY(0);
}

.popup-text {
  font-size: 14px;
  margin-bottom: 14px;
}

.open-btn {
  width: 100%;
  background: black;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.open-btn:disabled {
  opacity: 0.7;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #888;
}
